[submodule "raylib"]
	path = game/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "rlImGui"]
	path = game/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "imgui"]
	path = game/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "cpp-httplib"]
	path = game/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "json"]
	path = game/json
	url = https://github.com/nlohmann/json.git
